<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Files/CSS/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WEARView. Твой онлайн-гардероб</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <div class="cbp-af-header">
            <div class="cbp-af-inner">
                <h1>WEARView</h1>
            </div>
        </div>
        <div style="margin-top: 150px" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-collapse collapse" style="margin: 0 auto; width: 290px">
                    <ul class="nav navbar-nav">
                        <li><a href="~/Looks/Looks/@ViewBag.UserId">Образы</a></li>
                        <li><a href="~/Photos/Index/@ViewBag.UserId">Одежда</a></li>
                        <li><a href="~/Photos/Index/@ViewBag.UserId">О приложении</a></li>
                    </ul>
                </div>
            </div>
        </div>
    <div style="margin-top: 150px"  class="container body-content">
        @RenderBody()
        <footer style="bottom: 0; margin-bottom: 20px; margin-top: 20px; left: 43%; position: static;">
            <p>&copy; @DateTime.Now.Year - WEARView. Твой онлайн-гардероб</p>
        </footer>
    </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)*@
</body>
</html>
